.img-responsive > div:nth-child(1) img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center 20%;
  overflow: hidden;
  width: 100%;
}

.img-responsive > div:nth-child(2) img {
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  overflow: hidden;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-responsive > div:nth-child(1) img {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img-responsive > div:nth-child(1) img {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-responsive > div:nth-child(1) img {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-responsive > div:nth-child(1) img {
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img-responsive > div:nth-child(1) img {
    width: 50%;
  }
}