.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}

.content {
  flex: 1;
}

.image__container {
  flex: 1;
}

.image__frame {
  border-radius: 40px;
  overflow: hidden;
  padding: .5rem .5rem;
  position: relative;
  z-index: 1;
}

.image__frame:before {
  background: var(--gradient-text) border-box; 
  border: 8px solid transparent;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: 
    conic-gradient(from -90deg at 5rem 5rem, white 25%, #0000 0) 0 0 / calc(100% - 5rem) calc(100% - 5rem) border-box,
    conic-gradient(white 0 0) padding-box;
  mask:
    conic-gradient(from -90deg at 5rem 5rem, white 25%, #0000 0) 0 0 / calc(100% - 5rem) calc(100% - 5rem) border-box,
    conic-gradient(white 0 0) padding-box;
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.image {
  max-width: 100%;
}

.content h1 {
  color: white;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.content p {
  color: var(--color-text);
  padding: 1.5rem 0;
}
  
.text--gradient {
  background: rgb(255,255,255);
  background-clip: text;
  background-image: var(--gradient-text);
  color: transparent;
}

.triangle {
  background-color: var(--color-bg);
  background-image: linear-gradient(to top left, transparent 50%, var(--color-bg) 50%);
  height: 50px;
}

.waves {
  fill: var(--color-bg);
  height: 80px;
  overflow: hidden;
  transform: rotate(180deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem .5rem;
  }

  .content p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding: 2rem 1rem;
  }

  .content h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .content p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
      padding: 2rem 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
      padding: 2rem 4rem;
  }

  .content p {
    font-size: 20px;
    line-height: 27px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    gap: 2rem;
    padding: 4rem 4rem;
  }
 
  .content h1 {
    font-size: 46px;
    line-height: 54px;
  }
}

/* For Projectors or Higher Resolution Screens (Full HD) */
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }

  .content p {
    font-size: 24px;
    line-height: 30px;
  }
}