.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.socials a {
  color: var(--color-socials);
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 150px;
  transition: transform 250ms;
}
  
.socials a:hover {
  transform: scale(1.2) translateY(-5px);
}

.socials h3 {
  background: rgb(255,255,255);
  background-clip: text;
  background-image: var(--gradient-text);
  color: transparent;
  flex: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 1.2rem 0;
  text-decoration: underline;
  text-decoration-color: var(--color-socials);
  text-underline-offset: 0.25em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
      padding: 2rem .5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
      padding: 2rem 1rem;
  }
  .socials h3 {
    font-size: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
      padding: 2rem 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
      padding: 2rem 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
      padding: 4rem 4rem;
  }
}